/*
	Dialogs.JS 5.0 [base stylesheet]
	http://acidjs.wemakesites.net/dialogs-js.html
*/

html, body
{
	padding: 0;
	margin: 0;
	height: 100%;
}

#dialogs-js-wrapper
{
	position: absolute;
	left: -9999px;
	z-index: 10000;
	visibility: hidden;
}

.dialog-js,
.dialog-js *
{
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: default;
}

.dialog-js
{
	position: fixed;
	z-index: 10000;
	top: 50%;
	left: 50%;
}

.dialog-js .ijs_wrapper
{
	background: transparent !important;
}

* html .dialog-js
{
	position: absolute;
}

.dialog-wrapper
{
	max-width: 800px;
	max-height: 800ppx;
	font-family: "Segoe UI", "Trebuchet MS", Arial, Sans-serif;
}

.dialog-title
{
	margin: 0 20px 0 0;
	height: 21px;
}

.dialog-content
{
	margin: 0 20px 0 0;
	min-height: 116px;
}

#prompt-content
{
	min-height: 134px;
}

.dialog-js em
{
	font-style: normal;
	font-size: 14px;
	font-weight: bold;
	display: block;
	margin: 0 0 0 24px;
	-moz-user-select: none;
}

.dialog-footer
{
	height: 22px;
	margin: 0 20px 0 0;
}

/* modal overlay */
#dialogjs-overlay
{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9999;
	top: 0;
	left: 0;
}

* html #dialogjs-overlay
{
	position: absolute;
}

.dialog-wrapper input[type="text"]
{
	cursor: text;
}

.dialog-js button
{
	position: absolute;
	right: 0;
	top: 0;
	height: 16px;
	width: 16px;
	padding: 1px;
	border: 0;
	margin: 20px 20px;
	cursor: pointer;
	cursor: hand;
}

.dialog-js input[type="button"]:focus
{
	font-weight: bold !important;
}

.dialog-inner-wrapper
{
	float: none;
	clear: both;
	padding: 12px 22px;
	font-size: 12px;
}

.dialog-inner-wrapper ul
{
	float: none;
	clear: both;
	margin: 12px 0;
}

.dialog-inner-wrapper ul li
{
	float: left;
	padding: 0 8px 0 0;
}

.dialog-inner-wrapper p
{
	min-height: 48px;
	padding: 0 0 0 54px;
}

* html .dialog-inner-wrapper p
{
	height: 48px;
}

.dialog-alert p
{
	background: url('alert.png') no-repeat left center;
	-moz-user-select: none;
}

.dialog-confirm p
{
	background: url('confirm.png') no-repeat left center;
	-moz-user-select: none;
}

.dialog-prompt p
{
	background: url('prompt.png') no-repeat left center;
	-moz-user-select: none;
}