/*
	ROUNDED CORNERS PANEL.JS 2.0 [BASE STYLESHEET]
	http://acidmartin.wemakesites.net/#rounded
*/

.roundedCornersPanel
{
	border: 0;
}

.roundedCornersPanel .roundedCornerElement
{
	font-size: 1px;
	height: 1px;
	line-height: 1px;
	cursor: default;
}

.roundedCornersPanel .roundedCornersPanelContent *
{
	margin: 0;
}

.roundedCornersPanel .SkipCorner
{
	position: absolute;
	background: blue;
	font-size: 1px;
	lne-height: 1px;
	display: none;
}